.blog-post-header {
  margin: 0 auto;
  font-size: 22px;
  max-width: 1000px;
}

.blog-post-content {
  max-width: 1000px; 
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.6;
}

@media (pointer:none), (pointer:coarse) {
  .blog-post-header {
    font-size: 16px;
    margin: 0 auto;
    max-width: 80%;
  }
  .blog-post-content {
    font-size: 16px;
    max-width: 80%;
    line-height: 1.6;
  }
}


.blog-post-container > * {
  font-family: 'merriweather-regular';
  /* font-family: Georgia, serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}