.blog-card {
  margin: 0 auto;
  max-width: 750px; 
  margin-top: 30px;
}

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    .blog-card {
      max-width: 55%;
    }
  }