.home {
  display: flex;
  place-content: center;
  vertical-align: top;
  margin-top: 70px;
  padding-right: 20px;
}

.home-content {
  margin-left: 40px;
}

.description,
.links,
.interests,
.papers,
.news,
.exp-and-ed,
.readings-page {
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Cantarell, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  max-width: 615px;
}

.links {
  margin-top: 20px;
}

.photo-side {
  margin-top: 30px;
}

.papers,
.news,
.exp-and-ed {
  margin-top: 40px;
}

.news {
  margin-bottom: 30px;
  line-height: 1.4;
}

.news > ul {
  list-style-type: none;
  padding-left: 0;
}

.news > ul li {
  margin-bottom: 6px;
}

.newsDate {
  float: left;
}

.newsText {
  margin-left: 90px;
  min-height: 20px;
}

.paper {
  margin-bottom: 20px;
}

.links > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.exp-and-ed li {
  list-style: none;
  margin: 20px -40px;
  margin-right: 10px;
  /* margin: 20px 0; */
  display: flex;
  flex-direction: row;
}

.exp-and-ed img {
  margin-right: 20px;
}

.exp-and-ed-name-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 650px) {
  .home {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }
  .home-content {
    margin-left: 0;
  }
  .photo-side {
    margin: auto;
    margin-bottom: 10px;
  }
  .links {
    margin-top: 10px;
  }
  .exp-and-ed-name-date {
    display: block;
    width: 100%;
  }
}

.reading-paper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.readings {
  /* margin-top: 70px; */
  max-width: 615px;
  flex-wrap: wrap;
}

.reading-title-author {
  width: 700px;
}

@media (max-width: 601px) or (max-height: 601px) {
  .reading-title-author {
    width: 250px;
  }
  .reading-img {
    padding-left: 20px;
  }
}
