.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 1000px;
  margin: auto;
}

.home-content > .photo {
  margin: auto;
}

.home-content > .interests {
  margin-top: 10px;
  max-width: 45%;
}

.description,
.links,
.interests {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.home-content > .description {
  max-width: 40%;
}

@media (pointer: none), (pointer: coarse) {
  .home-content > .photo {
    margin: auto;
  }

  .home-content > * {
    /* padding-left: 5px; */
    font-size: 14px;
  }
}
