.home-content {
  margin: 0 auto;
  max-width: 700px;
  justify-items: center;
  display: flex;
}

.photo {
  margin-right: 20px;
}

.description,
.links,
.interests,
.papers,
.news {
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Cantarell, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  max-width: 500px;
}

.papers, .news {
  margin: 0 auto;
  max-width: 700px;
}

.news {
  margin-bottom: 30px;
  line-height: 1.4;
}

.news > ul {
  list-style-type: none;
  padding-left: 0;
}

.news > ul li {
  margin-bottom: 6px;
}

.newsDate {
  float: left;
}

.newsText {
  margin-left: 90px;
  min-height: 20px;
}

.paper {
  margin-bottom: 15px;
}
