.text {
  width: max-content;
  display: flex;
  float: left;
}

a {
  color: #676767;
  text-decoration: none;
}

.text > * {
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}